<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact us</title>
</head>
<body>


{% extends 'base.html' %}
     
{% block content %}

    <h1>Biz bilan bog`lanish uchun 📱 </h1>
    
    <p> 📄Biz bilan bog`lanish uchun quyidagi havolalardan birining ustiga bosing: </p>
    <hr>
    
    <a  style="display: block;" href="https://t.me/abdurash1dovaa">Telegram orqali bog`laning</a>
    <a href="https://www.instagram.com/1_a.f.a._">Instagram orqali boglaning</a>

    
{% endblock content %}

</body>
</html>